<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="cross-device-suite" parallel="tests">
    <test name="desktop-test">
        <parameter name="device" value="desktop"/>
        <classes>
            <class name="ge.tbc.testautomation.tests.ValidateYOYFinancialReportAccessibility"/>

        </classes>
    </test>

<!--

<test name="mobile-test">
        <parameter name="device" value="mobile"/>
        <classes>
            <class name="ge.tbc.testautomation.tests.FilterLocationsByCityAndTypeTest"/>
            <class name="ge.tbc.testautomation.tests.ValidateLiveCurrencyConversionAccuracy"/>
        </classes>
    </test>
-->
</suite>