<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="cross-device-suite" parallel="tests" thread-count="2">

    <test name="mobile-test">
        <parameter name="device" value="mobile"/>
        <classes>
            <class name="ge.tbc.testautomation.tests.CheckAvailableITAcademyCourses"/>
        </classes>
    </test>
<!--
<test name="desktop-test">
        <parameter name="device" value="desktop"/>
        <classes>
            <class name="ge.tbc.testautomation.tests.CheckAvailableITAcademyCourses"/>

        </classes>
    </test>

-->
</suite>